:root {
  --TestBorderBlack: 2px solid black;
  --TestBorderRed: 2px solid red;
  --MainBgColor: rgb(63, 63, 252);
  --MainTitleFontSize: 3rem;
  --MainTitleFontWeight: 800;
  --MainParagraphFontSize: 1.2rem;
  --MainParagraphFontWeight: 350;
  --ButtonFontSize: 1.2rem;
  --ButtonPadding: 0.5rem 1rem;
  --ButtonBorderRadius: 0.7rem;
}
